<h2>thank you, <%= @movie.name %></h2>

<% if @movie.video %>
  <video type="<%= @movie.video.mime_type %>" src="<%= @movie.video.url %>" width=600 controls></video>
<% else %>
  No video attached
<% end %>
